/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/

/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
@font-face {
  font-family: "Noto Sans Mono", monospace;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap")
    format("opentype");
}
:root {
  --color-padrao: white;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-altura: 87vh;
  --image-max-largura: 100px;
  --image-margin: 1rem;
  --font-principal: "Arial";
  --font-family-cabecalho: "Roboto, sans-serif;";
  --max-largura: 144px;
  --max-altura: 544px;
  --max-peso: 500;
  --font-tamanho: 15px;
  --font-tamanho-cabecalho: 20px;
  --fundo-padrao: white;
  --negrito: bold;
  --espaco-em-branco: nowrap;
  --btn-tamanho: 10pt;
  --sub-tamanho: 17pt;
  --X: 0px;
  --Y: 390px;
  --PINGOBRASIMG: url(https://cdn.glitch.global/b39d6a4a-0e14-4b41-930d-29d3ccd6c137/pingobras.png?v=1650114443929);
  --PINGOBRASIMG2: url(https://cdn.glitch.global/b39d6a4a-0e14-4b41-930d-29d3ccd6c137/PINGOBRAS.png?v=1650116906906);

  --display: flex formato de celular;
  --height: "altuta";
  --Weight: "peso";
  --width: "largura";
  --white-space: "espaco em branco";
}
/* Basic page style resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
[hidden] {
  display: none !important;
}
/* Iamport fonts */ /* Our remix on glitch button */
.btndc {
  background-color: gray;
  padding: var(--btn-tamanho);
  font-weight: bold;
}
.btndc img {
  margin-right: auto;
}
.btndc:hover {
  background-image: linear-gradient(45deg, gray, green);
  cursor: pointer;
  box-shadow: -8px 20px 20px gray;
  transform: translateY(5px);
  transition: all 1s ease-out;
}

.btnList {
  background-color: gray;
  padding: var(--btn-tamanho);
  font-weight: bold;
  font-size: 15px;
  justify-content: center;
  border: 4px solid silver;
}

.btnlogin {
  background-color: blue;
  padding: var(--btn-tamanho);
  
}
.btnlogin img {
  margin-right: auto;
}
.btnlogin:hover {
  background-image: linear-gradient(45deg, blue, green);
  cursor: pointer;
  box-shadow: -8px 20px 20px gray;
  transform: translateY(5px);
  transition: all 1s ease-out;
}

.btncadastro {
  background-color: purple;
  padding: var(--btn-tamanho);
}
.btncadastro:hover {
  background-image: linear-gradient(45deg, purple, green);
  cursor: pointer;
  box-shadow: -8px 20px 20px gray;
  transform: translateY(5px);
  transition: all 1s ease-out;
}
.btn-pages {
  background-color: green;
  padding: var(--btn-tamanho);
}
.btn-pages:hover {
  background-image: linear-gradient(45deg, green, blue);
  cursor: pointer;
  box-shadow: -8px 20px 20px gray;
  transform: translateY(5px);
  transition: all 1s ease-out;
}

.btn-subir{
  font-size: 15px;
  border: 5px solid black;
  background-color: gray;
  padding: var(--btn-tamanho);
  font-weight: bold;
  width: 75%;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  color: white;
}
.btn-subir:hover{
  background-image: linear-gradient(45deg, gray, green);
  cursor: pointer;
  box-shadow: -8px 20px 20px gray;
  transform: translateY(5px);
  transition: all 1s ease-out;
}

.btn-descer{
  font-size: 15px;
  border: 5px solid black;
  font-weight: bold;
  background-color: purple;
  padding: var(--btn-tamanho);
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0.8;
}
.btn-descer:hover{
  background-image: linear-gradient(45deg, purple, green);
  cursor: pointer;
  box-shadow: -8px 20px 20px gray;
  transform: translateY(5px);
  transition: all 1s ease-out;
  opacity: 1;
}
/* Navigation grid */
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: Arial, helvetica, sans-serif;
  background-image: var(--PINGOBRASIMG2);
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
a {
  font-size: 15px;
  border: 5px solid black;
  font-weight: bold;
  text-decoration: none;
  transform: translateY(5px);
  transition: all 0.3s ease-out;
  width: 75%;
  border-radius: 15px;
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  color: white;
}
a:hover {
  color: red;
}
main-text {
  text-align: center;
  font-size: 20pt;
  margin-bottom: 15px;
  color: black;
}
h2 {
  display: inline-block;
  text-align: center;
  font-size: var(--sub-tamanho);
  color: blue;
}
h3 {
  display: inline-block;
  text-align: center;
  font-size: var(--sub-tamanho);
  color: green;
}
hr {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
}
tituloblue {
  text-align: center;
  margin-bottom: 20px;
  color: blue;
}
tituloyellow {
  text-align: center;
  margin-bottom: 20px;
  color: yellow;
}
.drawbox{
  width:100%;
  height:100px;
  border:1px solid black;
}
.btn.disabled, button[disabled], a[disabled], fieldset[disabled] .disabled{
 cursor: not-allowed;
 filter: alpha(opacity=65);
 -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
/* Page alturaure */
.site-altura {
  min-height: var(--wrapper-altura);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

.divider {
  padding: 0 1rem;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/

.dipped {
  background: green;
  transform: translateY(5px);
}